*{
    margin:0;
    padding:0;
}

body{
    font-family:"メイリオ",Meirio,"ヒラメキ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "sans-serif","YuGothic","遊ゴシック";
    background-color:#ffffff;
    font-size:14px;
}
span.red{
    color:red;
}
header{
    background-image:url("Application.jpg");
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    padding-bottom:200px;
}
header h1{
    margin-top: 100px;
    font-family:"Haettenschweiler","Impact""メイリオ",Meirio,"ヒラメキ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "sans-serif","YuGothic","遊ゴシック";
    font-size:100px;
    color:#fff;
    text-align: center;
}
header p{
    margin-top: 100px;
    font-family:"Haettenschweiler","Impact""メイリオ",Meirio,"ヒラメキ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "sans-serif","YuGothic","遊ゴシック";
    font-size:80px;
    color:#fff;
    text-align: center;
}
nav{
    margin:0 0 30px 0;
    text-align:center;
    background:#fff;
}
nav ul{
    margin:0 10px;
    padding:0;
}
nav ul li{
    display:inline-block;
    margin:0px 20px;
}
nav ul li a{
    padding:15px 10px;
    text-decoration:none;
    color:#999;
    font-weight:bold;
}
nav ul li a.selected{
    color:#000;
}


#logo{
    padding:20px;
    margin-left: 100px;
}
#logo img{
    max-width:120px;
    border:5px solid #fff;
    border-radius:100%;
    
}
#logo h1{
    letter-spacing: 0.15em;
    color: #3366FF;
    text-shadow: 1px 1px 0px #000;
}
.container{
    max-width:800px;
    background-color:#fff;
    color:#999999;

}

#contents {
    float:left;
    width:550px;
    height:498;
    margin:10px 10px 10px 0px;
    line-height:2.0em;
}
#sidenavi{
    float:left;
    width:200px;
    height:498;
    margin:10px 10px 10px 0px;
    border-style:none;
}
.icon {
    text-align: center;
  }
      
.icon .glyphicon {
    margin-bottom: 10px;
    font-size: 40px;
    color: #777;
}
.clear{
    clear:both;
}

footer{
    clear:both;
    border:dashed 1px #999;
    padding:20px 0;
    font-size: 93%;
    text-align:center;
    border-style:none;
    background-color:#fff
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}